/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */
:root {
    --hfs: clamp(1.75rem, 6.6vh, 2.75rem);
    --hfs-b: clamp(2.75rem, 8vh, 3.5rem);
    --margin: 1rem;
    --padding-bg: 6rem;
    --padding: 1rem;
    --headerbgcolor:#048b8b;
    --bgcolor: black;
    --fontcolor-primary1: #9BF2EA;
    --fontcolor-primary2: #0FC2C0;
    --fontcolor-primary3: #EEE;
    --headerbgcolor: #0a1321;
    --bordercolor: #005272;
    --hovereffect: #0b255972;
    --fs-sm: 1.75rem;
}

/* GENERAL SYLES */

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background: var(--fontcolor-primary2);
    border-radius: 15px;
}

/* UTILITY CLASSES */

.nowrap {
    white-space: nowrap;
    display: block;
}

#canvas1 {
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: var(--bgcolor);
    width: 100%;
    height: 100%;
    filter: blur(6px) contrast(10);
}

/* END OF THE UTILITY CLASSES */

.hero-container {
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    background: transparent;
    width: 100%;
    height: 100%;
}

.slider {
    position: absolute;
    font-size: var(--hfs);
    color: var(--fontcolor-primary3);
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.hero-1 {
    margin-top: 100vh;
    display: block;
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: black;

    #background-2{
        width: 100%;
        height: 100%;
        overflow: hidden;
        filter: contrast(2) saturate(15);
        background-color: rgba(0,0,0,0.25);
    }
}

@media screen and (max-width: 480px) {
    .slider {
        font-size: var(--fs-sm);
    }
}