/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */
:root {
    --hfs: clamp(1.75rem, 5.6vh, 2.5rem);
    --hfs-b: clamp(2.75rem, 8vh, 3.5rem);
    --margin: 1rem;
    --padding-bg: 6rem;
    --padding: 1rem;
    --headerbgcolor:#048b8b;
    --bgcolor: #0a1321;
    --fontcolor-primary1: #9BF2EA;
    --fontcolor-primary2: #0FC2C0;
    --fontcolor-primary3: #EEE;
    --headerbgcolor: #0a1321;
    --bordercolor: #005272;
    --hovereffect: #0b255972;
    --fs-p-2: 2.5rem;
}

/* GENERAL SYLES */

html {
    scroll-behavior: smooth;
    background-color: var(--bgcolor);
}

body {
    min-height: 100vh;
    max-width: 100%;
    
}

/* UTILITY CLASSES */

.nowrap {
    white-space: nowrap;
}

/* END OF THE UTILITY CLASSES */


.slider {
    display: flex;
    width: 400vw;
}

.hero-container {
    overflow-x: hidden;
}

.hero-container section {
    height: 100vh;
    width: 100%;
}

.inner {
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--fontcolor-primary3);
    transform: translate(-50%, -50%);
    background-color: var(--headerbgcolor);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 70%;
    height: 70vh;
    margin: auto;
    font-family: 'Bebas Nueue', sans-serif;
    font-size: var(--hfs-b);
    padding: var(--padding-bg);
    border: 6px solid var(--bordercolor);
    letter-spacing: 0.20rem;
    line-height: 1.4;
    text-align: center;
    border-radius: 16px;
}


/* DYNAMIC BACKGROUND */

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;

    .layer {
        position: absolute;        

        &:nth-of-type(1) { top: 10%; left: 60%; }
        &:nth-of-type(2) { top: 20%; left: 40%; }
        &:nth-of-type(3) { top: 60%; left: 76%; }
        &:nth-of-type(4) { top: 10%; left: 54%; }
        &:nth-of-type(5) { top: 80%; left: 10%; }
        &:nth-of-type(6) { top: 55%; left: 10%; }
        &:nth-of-type(7) { top: 10%; left: 60%; }
        &:nth-of-type(8) { top: 10%; left: 60%; }
        &:nth-of-type(9) { top: 10%; left: 60%; }
        &:nth-of-type(10) { top: 10%; left: 60%; }
        &:nth-of-type(11) { top: 10%; left: 60%; }
        &:nth-of-type(12) { top: 10%; left: 60%; }
        &:nth-of-type(13) { top: 10%; left: 60%; }
        &:nth-of-type(14) { top: 10%; left: 60%; }
        &:nth-of-type(15) { top: 10%; left: 60%; }
        &:nth-of-type(16) { top: 10%; left: 60%; }
        &:nth-of-type(17) { top: 10%; left: 60%; }
        &:nth-of-type(18) { top: 10%; left: 60%; }
        &:nth-of-type(19) { top: 10%; left: 60%; }
        &:nth-of-type(20) { top: 10%; left: 60%; }
        
    }
}

/* END OF THE DYANMIC BACKGROUND */

