@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */
:root {
    --hfs: clamp(1.75rem, 5.6vh, 2.5rem);
    --margin: 1rem;
    --padding: 1rem;
}


/* UTILITY CLASSES */
.nowrap {
    white-space: nowrap;
}

/* END OF THE UTILITY CLASSES */

.header {
    font-size: var(--hfs);
    font-weight: 500;
}